In [5]:
import pandas as pd
import json
import re

In [6]:
df = pd.read_csv('%FULL PATH TO FILE%')

def parse_json(df):
    """
    Firstly, replacing the list of dictionaries with dictionary of dictionaries, because there are duplicate columns
    Then replacing all malicios pattern and rewriting them..
    After it replacing string representation of the dictionary with actual dictionary
    Finally, concatenating our df with normalized json.
    """
    
    #  These regex patterns are used for making dictionary appropriate for json parsing
    pattern_account = r'<AccountType\..+?: ' 
    pattern_decimal = r'Decimal\('

    count = 0
    for elem in df['journal_lines']:
        res = elem.replace("[{", '{"1": {').replace('}]', '}}').replace('}, {', '}, "2": {')  # a lot of patterns here
        res = re.sub(pattern_account, '', string=res).replace('>', '').replace("'", '"').replace('None', '""')
        res = re.sub(pattern_decimal, '', string=res).replace('")', '"').replace('s" ', "s' ")
        res = json.loads(res) 
        df.iat[count,9] = res
        count += 1  # descending by rows of a dataframe and assigning it the new json value

    df = pd.concat([df, pd.json_normalize(df['journal_lines'])], axis=1)  # flattening the json file
    df.to_csv('journal_data.csv')
    return df

parse_json(df)

,Unnamed: 0,Unnamed: 0.1,journal_id,journal_date,journal_number,created_date_utc,reference,source_id,source_type,journal_lines,...,2.account_code,2.account_type,2.account_name,2.description,2.net_amount,2.gross_amount,2.tax_amount,2.tax_type,2.tax_name,2.tracking_categories
0,0,0,7051bfc8-53c7-42bc-923d-ce42d9aac119,2016-11-28,1,2016-12-01 21:27:00.620000+00:00,NaN,ec0e9118-54ab-4446-97fd-ed7b47bb4a65,CASHPAID,{'1': {'journal_line_id': 'b3c1e23a-9752-4b27-...,...,,BANK,8131 - SVB Main Account,,-2677.42,-2677.42,0.00,,,[]
1,1,1,afee5f03-d296-4314-8cb5-7a8424cab7e0,2016-12-02,2,2016-12-04 16:50:52.963000+00:00,NaN,a9a57984-a6e8-42d1-86ec-92397f8a46ba,CASHPAID,{'1': {'journal_line_id': '3942031c-db5d-4002-...,...,,BANK,8131 - SVB Main Account,,-7000.00,-7000.00,0.00,,,[]
2,2,2,41ad5292-93f1-48d9-9c86-1a436fa9c707,2016-12-02,3,2016-12-04 16:51:24.307000+00:00,NaN,53fd99b1-9775-4051-b66c-e115e7a12555,CASHPAID,{'1': {'journal_line_id': '72c65ab1-f1c0-4176-...,...,,BANK,8131 - SVB Main Account,,-10000.00,-10000.00,0.00,,,[]
3,3,3,e5dc7597-36a3-44ba-bf25-10c1f50bd36d,2016-12-02,4,2016-12-04 16:51:44.367000+00:00,NaN,ab921b68-e576-4fa4-b644-cc950eec2972,CASHPAID,{'1': {'journal_line_id': '4ca89866-a7f1-48a3-...,...,,BANK,8131 - SVB Main Account,,-7160.00,-7160.00,0.00,,,[]
4,4,4,61ab5648-3634-45b2-aee2-1d3ed37a4932,2017-02-03,5,2017-02-03 22:04:17.427000+00:00,#1252,31c11a30-4ad6-417c-af4a-09bb5fe52c2d,ACCREC,{'1': {'journal_line_id': 'c1a56ec1-924c-45fb-...,...,4800,OTHERINCOME,Sales Other,White Label Publishing Account,-200.00,-200.00,0.00,NONE,Tax Exempt,[]
5,5,5,c336af0f-a4ab-4623-9922-ed0fec7d56f3,2017-02-03,6,2017-02-03 22:06:58.630000+00:00,#1252,31c11a30-4ad6-417c-af4a-09bb5fe52c2d,ACCREC,{'1': {'journal_line_id': '5a7d2d25-65c2-44a7-...,...,4800,OTHERINCOME,Sales Other,White Label Publishing Account,200.00,200.00,0.00,NONE,Tax Exempt,[]
6,6,6,5b0a3792-ca15-4915-bf54-7a641d527e02,2018-02-03,7,2017-02-03 22:06:58.617000+00:00,#1252,31c11a30-4ad6-417c-af4a-09bb5fe52c2d,ACCREC,{'1': {'journal_line_id': '61052c2a-d43a-4997-...,...,4800,OTHERINCOME,Sales Other,White Label Publishing Account,-200.00,-200.00,0.00,NONE,Tax Exempt,[]
7,7,7,9dca8532-8cd6-4ba3-b583-428800ddb7a4,2017-02-02,8,2017-02-03 22:08:06.147000+00:00,NaN,b0b7d034-d1a0-471d-a9ba-9ef92abfc72e,ACCREC,{'1': {'journal_line_id': '989451dd-4a90-4468-...,...,4800,OTHERINCOME,Sales Other,Mobile app stores. Per-year usage of Rocket.C...,-200.00,-200.00,0.00,NONE,Tax Exempt,[]
8,8,8,604f03d6-7b08-4f03-8cf8-523306bc977d,2016-12-08,9,2017-05-17 23:46:06.753000+00:00,NaN,b6c063c6-c86a-4db3-b56c-47d97566f1d8,CASHPAID,{'1': {'journal_line_id': '9b696afc-151b-43ab-...,...,,BANK,8131 - SVB Main Account,,-4600.00,-4600.00,0.00,,,[]
9,9,9,640da8e5-48f4-4d65-ace0-8cdb2619dd45,2016-12-13,10,2017-05-17 23:46:09.317000+00:00,NaN,d7ab34a1-5b87-491a-83de-20ade39f77e3,CASHPAID,{'1': {'journal_line_id': '9483d33c-aedd-4ef4-...,...,,BANK,8131 - SVB Main Account,,-3150.00,-3150.00,0.00,,,[]
10,10,10,7a3070b4-c8fc-4cb3-bccc-879bfdbffe17,2016-12-28,11,2017-05-17 23:46:14.453000+00:00,NaN,e3675cf3-4edd-4af2-a090-51aa1b39c386,CASHPAID,{'1': {'journal_line_id': '13829f39-a227-4418-...,...,,BANK,8131 - SVB Main Account,,-10000.00,-10000.00,0.00,,,[]
11,11,11,49a02131-e3ed-4765-8b04-14c3828d4c54,2017-01-03,12,2017-05-17 23:46:16.303000+00:00,NaN,77fc85b1-f3bb-4fde-911f-fc3f2ea397ec,CASHPAID,{'1': {'journal_line_id': '69f7823b-dbd6-4de6-...,...,,BANK,8131 - SVB Main Account,,-8018.78,-8018.78,0.00,,,[]
12,12,12,bd27361d-d8e7-4176-9d41-7bc8df55ee38,2017-01-05,13,2017-05-17 23:46:17.277000+00:00,NaN,1e979c1a-2923-4f14-835a-4d37eb2523a6,CASHPAID,{'1': {'journal_line_id': 'bb5cbe7e-068e-40c3-...,...,,BANK,8131 - SVB Main Account,,-7060.00,-7060.00,0.00,,,[]
13,13,13,a950ce8d-fbd2-48cd-99c8-7d01a61f21db,2017-01-09,14,2017-05-17 23:46:18.063000+00:00,NaN,8a6d97c9-6bf3-4ed4-ba3b-98150f14e3cd,CASHPAID,{'1': {'journal_line_id': '427e6648-0114-4643-...,...,,BANK,8131 - SVB Main Account,,-6400.00,-6400.00,0.00,,,[]
14,14,14,0651c757-5df9-4b39-abe3-c105c60d16a8,2017-01-19,15,2017-05-17 23:46:22.743000+00:00,NaN,e97b832e-70d2-4154-8e39-297b177e7655,CASHPAID,{'1': {'journal_line_id': 'a754d634-040d-49d7-...,...,,BANK,8131 - SVB Main Account,,-7000.00,-7000.00,0.00,,,[]